/* app css stylesheet */

.moduleab-logo {
  margin-top: 19%;
  text-align: center;
}

.notify {
  position: fixed;
  left: 0;
  top: 8px;
  right: 0;
  text-align: center;
  z-index: 10000;
}

.notify > div{
  display: inline-block;
}

.fadein {
  opacity: 0;
  filter: alpha(opacity=0);
  transition: opacity 0.5s linear;
}

.fadein-opacity {
  opacity: 100 !important;
  filter: alpha(opacity=100) !important;
}

.login-panel {
  margin-top: 10% !important;
}

.table-td-padding {
  padding-top: 16px !important;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}
